:root {
  --font-family-base: 'Inter', sans-serif;
  --font-family-title: 'Inter', sans-serif;

  --font-size-title: 1.8rem;

  --font-size-small: 1.3rem;
  --font-size-base: 1.4rem;

  --font-weigh-small: 300;
  --font-weight-base: 400;

  --color-base: #334155;

  --white: #fff;
  --dark-blue: #0768ac;
  --slate-blue: #64748b;

  --gray-1: #e2e8f0;
  --gray-2: #f1f5f9;
}
